*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section1{
width: 95%;
height: 80px;
display: flex;
padding: 2%;
justify-content: space-around;
align-items: center;
text-align: center;
}

.logo1{

font-size: 30px;
font-weight: 800;
font-family: "Noto Sans", sans-serif;
}

.logo1 a{
text-decoration: none;
color: #0099CC;
padding-right: 15px;
}

.searchBar{
margin: 0;
padding: 0;

display: inline;
/* border: 1px solid; */
}

.input1{
    padding: 20px 0px;
    height: 3px;
    margin: -4px;
    width: 280px;
}

.input2{
    padding: 20px 0px;
    height: 3px;
    margin: -4px;
}

.searchLogo{
    border:  1px solid;
    border-radius: 8%;
    border-style: 1px solid;
    font-size: 12px;
    padding: 16px 15px 15px 15px;
    background-color: #0099CC;
    color: white;
    cursor: pointer;
}

.searchLogo:hover{
    background-color: lightskyblue;
    transition: all 1s;
}
.searchLogo button{
    font-size: 40px;
}

.wholeRighticon{
    justify-content: space-between;
}

.heartdiv{
display: flex;
justify-content: space-between;
align-items: center;
font-family: "Noto Sans", sans-serif;
}

.wishlist1{
padding: 0% 8% 0%;
}

.wishlist1 a{
 text-decoration: none;
 color: #000;
}
  
.spanHeart{
    font-size: 30px;
    cursor: pointer;
}

.spanCart{
    padding: 14%;
    font-size: 30px;
    cursor: pointer;
}

.wishlist1 small{
    
}

.cartsection{

}

.wishlist2 a{
  text-decoration: none;
  color: black;
}

 /* ------------------------------------------------------- */

.section2{
    background-color: #0099CC;
    width: 96%;
    height: 5px;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    width: 100%;
    position: sticky;
  top: 0;
  z-index: 1000;
}

.icon3{
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
}
.category{ 
    padding: 0px 0px 0 57px;
    color: white;
    font-size: 18px;
}

.category a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.navBar{
    font-family: "Noto Sans", sans-serif;
}

.navBar ul{
    display: flex;
    justify-content: space-between;
    padding: 0px 26.5px;
}
.navBar ul li{
    list-style: none;
}
.navBar ul li a{
    text-decoration: none;
    justify-content: space-between;
    padding: 0px 20px;
    color: white;
    font-size: 15px;
}

div.menuBar{
    display: flex;
    justify-content: space-between; 
}
/* ------------------------------------------ */
/* .container{
    width: 70%;
    background-color: red;
    height: 350px;
    margin: 0 auto;
} */
/* 
.shoppingCart{
    
}
.shoppingCart h1{
    padding: 10px 0px 40px 0px;
}
.shoppingDiv1{
  border: solid 1px #e8e8e8; 
  box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
  width: 100%;
  margin-bottom: 10px;

}

.shoppingImage img{
  width: 130px;
  padding: 20px;
}
.shoppingDiv2{
    border: solid 1px #e8e8e8; 
  box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: flex-end;
  
}

.shoppingDivOrder{
    padding: 20px;

    
}
.shoppingDiv1Content{
    display: flex;
    justify-content: space-between;
}

.shoppingDiv{
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: auto;
}
.shoppingDiv strong{
    margin-bottom: 20px;
}
.shoppingDiv span {
    
    background-color: #007bff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.shoppingDiv3 button{
    padding: 10px;
    color: white;
    background-color: #0099CC;
    border: none;
    border-radius: 6%;
}

.shoppingDiv3 button:hover{
    background-color: lightskyblue;
    transition: all 1s;
}

.shoppingDiv4 button{
    padding: 10px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 6%;
}

.shoppingDiv4 button:hover{
    background-color: tomato;
    transition: all 1s;
}

.buttons{
    display: flex;
    justify-content: space-between;
} */
/* ------------------------------------------ */
.section4{
    height: 100%;
}

 .container{
    width: 75%;
    /* background-color: red; */
    height: 350px;
    margin: 0 auto;
} 

.deliveryAlldivs{
  width: 100%;  
  /* background-color:red; */
  justify-content: space-between;
  display: flex;
  padding: 40px 0px 40px 0px;
  
}

.delivery{
  width: 30%;
  /* height: 60px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  justify-content: space-evenly;
  border: solid 1px #e8e8e8;
  box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
  /* height: 100%; */
  padding: 20px;
  align-content: center;
  margin-bottom: 40px;
}


.container h1{
    font-family: "Noto Sans", sans-serif;
    margin-bottom: 20px;
}

.deliveryImg1{
    width: 50px;
    height: 30px;
    padding-left: 10px;
}

.deliveryImg2{
    width: 50px;
    height: 30px;
    padding-left: 10px;
}

.deliveryImg3 img{
    width: 100%;
    height: 30px;
    
}

.deliveryImg4{
    width: 50px;
    height: 30px;
    padding-left: 10px;
}

.deliveryImg img{
    width: 100%;
    padding-left: 10px;
}

.deliveryDesc{
    font-weight: 300;
    font-size: 12px;
    padding-right: 10px;
}

.inputGroup{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    margin-bottom: 20px;
}
.inputs{
   width: 290px;
   height: 40px;
}
.textareaF{

}
.textareaField{
    width: 100%;
    height: auto;
    padding-bottom: 70px;
}

.sendButton{
    padding: 10px;
    color: white;
    background-color: #0099CC;
    border: none;
    border-radius: 6%;
    margin-top: 10px;
}

.sendButton:hover{
    background-color: lightskyblue;
    transition: all 1s;
}

.getIntouch{
    height: 100vh;
    margin-bottom: 20px;
}
/* ---------------------------------------------- */
.newsletter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    margin-top: 120px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: "Noto Sans", sans-serif;
  }
  
  .newsletter-content {
    display: flex;
    align-items: center;
  }
  
  .icon-container {
    margin-right: 15px;
  }
  
  .paper-plane {
    font-size: 36px;
    color: #0099CC;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
  }
  
  .headline {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  
  .subtext {
    color: #666;
    margin: 5px 0 0 0;
  }
  
  .email-form {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .email-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    
    width: 500px;
    
  }
  
  .submit-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0099CC;
    color: white;
    border: none;
   
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: lightblue;
  }



/* footer */
  
footer {
    background-color: #f8f8f8;
    color: #333;
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 20px 0;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    font-family: "Noto Sans", sans-serif;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .footer-center,
  .footer-right,
  .footer-left {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-left h2 {
    font-size: 24px;
    color: #000;
    margin-bottom: 15px;
  }
  
  .footer-left p,
  .footer-left a {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
    text-decoration: none;
  }
  
  .footer-left a:hover {
    color: #007bff;
  }
  
  .social-icons {
    margin-top: 15px;
  }
  
  .social-icons a {
    font-size: 20px;
    color: #333;
    margin-right: 10px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #007bff;
  }
  
  .footer-center h3,
  .footer-right h3 {
    font-size: 18px;
    color: #000;
    margin-bottom: 15px;
  }
  
  .footer-center ul,
  .footer-right ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-center ul li,
  .footer-right ul li {
    margin-bottom: 10px;
  }
  
  .footer-center ul li a,
  .footer-right ul li a {
    font-size: 14px;
    color: #333;
    text-decoration: none;
  }
  
  .footer-center ul li a:hover,
  .footer-right ul li a:hover {
    color: #007bff;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 20px 40px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
  }
  
  .footer-bottom p {
    font-size: 14px;
    color: #333;
    margin: 0;
  }
  
  .footer-bottom a {
    color: #007bff;
    text-decoration: none;
  }
  
  .footer-bottom a:hover {
    text-decoration: underline;
  }
  
  .payment-icons img {
    height: auto;
    width: auto;
    margin-left: 10px;
  } 